/* The hero image */
/* .hero-image {
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

/* .black-overlay { */
/*display: -webkit-flex; /*Safari */
/* display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  align-items: center;
} */

.css-typing > p {
  font-family: "Courier";
  letter-spacing: 0.6rem;
  font-size: 4rem;
  margin: 0px;
}
/* #consult {
  color: var(--white);
}
#design {
  color: var(--peach);
}
#develop {
  color: var(--green);
} */
