.next-summary-container {
  background: rgb(15, 22, 36, 1);
  padding: 5px 5px 0;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid rgb(15, 22, 36, 1);
  height: fit-content;
}

.tabs {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
}

.main-text-area {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  padding: 40px 10%;
  text-align: center;
  flex-grow: 1;
  user-select: none;
  border-radius: 0px 0px 4px 4px;
  background-color: rgb(15, 22, 36, 1);
}

.next-info-titles,
.single-next-info-title {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  /* text-align: center; */
}

/* .next-info-titles {
  display: flex;
  width: 100%;
} */
.next-info-titles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(247, 248, 250, 1);
}

.single-next-info-title {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 10px 10px;
  position: relative;
  background: rgb(15, 22, 36, 1);
  cursor: pointer;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 0;
  position: relative;
  user-select: none;
  color: white;
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: orange;
  z-index: 30;
}

.single-next-info-title.selected {
  background: rgb(15, 22, 36, 1);
}

.single-next-info-title button {
  width: 20px;
  height: 20px;
  border: 0;
  background: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #000;
  margin-left: 10px;
  cursor: pointer;
  flex-shrink: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

.add-item {
  width: 30px;
  height: 30px;
  background: #eee;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  align-self: center;
}

.add-item:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}
@media screen and (max-width: 1024px) {
  .next-info-titles {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
